#body{
    background: darkgrey;
}
h1{
    margin-bottom: 5em;
    color: #931321;
     display: flex;
    justify-content: center;
}
#gen_pass{
     display: flex;
    justify-content: center;
}

#navigation_buttons{
    margin-left: 60em;
}
#reg{
    margin-right: 1em;
}

#generate{
    margin-top: 2em;
    margin-left: 42em;
}