{% extends 'main/base.html' %}

{% block title %}
     user_{{ user.login }}
{% endblock %}

{% block login %}
    <nav aria-label="breadcrumb" id="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" ><a href="{% url 'main_page' %}">Main_page</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ user.login }}</li>
        </ol>
    </nav>
{% endblock %}

{% block buttons %}
    <a href="{{user.get_absolute_url}}" class="btn btn-danger">generate </a>
{% endblock %}

{% block accaunt %}
    {% for password in passwords %}
        <div class="card w-50">
            <div class="card-body">
                <p class="card-text">{{ password.user }}</p>
                <p class="card-text">{{ password.password }}</p>
                <p class="card-text">{{ password.url }}</p>
                <a href="{{ password.url }}" class="btn btn-primary"  target="_blank">Go url</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}

