{% load static%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static  'main/css/base.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>
    {% block login %}
    {% endblock %}
    <h1>Сгенерированный пароль:</h1>
    <form id="gen_pass" action="accaunt_user.html" method="post">
        <div>
            <h2> {{ gen }} </h2>
        </div>
    </form>

    {% block buttons %}
    {% endblock %}

    <div class="list-group" id="check_group">
        <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox"  value="">
            Use high register
        </label>
        <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox"  value="" data-href-template="">
            Use math symbol
        </label>
        <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            Use special symbol
        </label>
    </div>
    {% block accaunt %}
    {% endblock %}

    {% for password in users %}
        <div class="card w-50">
            <div class="card-body">
                <p class="card-text">{{ password.id }}</p>
                <p class="card-text">{{ password.login }}</p>
                <p class="card-text">{{ password.password }}</p>
            </div>
        </div>
    {% endfor %}

</body>
</html>