{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/user_page.css' %}">
    <title>Generation_{{ user.username }}</title>
</head>
<body id="body">
<nav aria-label="breadcrumb" id="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'main_page' %}">Main_page</a></li>
        <li class="breadcrumb-item"><a href="">{{ user.username }}</a></li>
    </ol>
</nav>

{% if user.is_authenticated %}
    <div class="split left" id="left">
        <div class="centered">
            {% for password in passwords %}
                <div class="card w-50" id="table">
                    <div class="card-body">
                        <p class="card-text">{{ password.password }}</p>
                        <a href="{{ password.url }}" target="_blank">{{ password.url }}</a>
                        <br>
                        <a href="{% url 'delit_pass' id_pass=password.id %}" class="btn btn-danger">delite</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="split right" id="right">
        <div class="centered">
            <form action="password_gen.html" method="post">
                {% csrf_token %}
                <div class="form-group" id="forma">
                    <label for="{{ form.password.id_for_label }}">Your password:</label>
                    {{ form.password }}
                </div>
                <div class="form-group" id="forma">
                    <label for="{{ form.password.id_for_label }}">URL from site:</label>
                    {{ form.url }}
                </div>
                <div class="list-group">
                    <label class="list-group-item" id="check_group">
                        <input class="form-check-input me-1" type="checkbox" name="checkbox1">
                        Use high register
                    </label>
                    <label class="list-group-item" id="check_group">
                        <input class="form-check-input me-1" type="checkbox" name="checkbox2">
                        Use math symbol
                    </label>
                    <label class="list-group-item" id="check_group">
                        <input class="form-check-input me-1" type="checkbox" name="checkbox3">
                        Use special symbol
                    </label>
                    <label class="list-group-item" id="check_group">
                        <input class="form-check-input me-1" type="checkbox" name="checkbox4">
                        Use numbers
                    </label>
                       <br>
                    <select class="form-select" aria-label="Default select example" id="length" name="length">
                        <option selected value="8">8</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">15</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                    </select>
                </div>
                <br>

                <button id='save' type="submit" class="btn btn-primary" name="save">Save</button>
                <button id='save' type="submit" class="btn btn-success" name="generate">Generate</button>
            </form>

        </div>
    </div>
{% endif %}

</body>
</html>