{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main/css/registration.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Generation</title>
</head>
<body>
    <nav aria-label="breadcrumb" id="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" ><a href="{% url 'main_page' %}">Main_page</a></li>
            <li class="breadcrumb-item" ><a href="{{ user.get_absolute_url }}">{{ user.login }}</a></li>
        </ol>
    </nav>
    <form action="{% url 'new_password' login=user.login %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}">Your password:</label>
            {{ form.password}}
        </div>
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}">URL from site:</label>
            {{ form.url}}
        </div>
        <div class="form-group" hidden="hidden">
            <label for="{{ form.user.id_for_label }}">USER:</label>
            {{ form.user}}
        </div>
            <div class="list-group" id="check_group">
        <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox"  value="">
            Use high register
        </label>
        <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox"  value="" data-href-template="">
            Use math symbol
        </label>
        <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            Use special symbol
        </label>
    </div>
        <button type="submit" class="btn btn-primary">Save</button>
         <button type="м" class="btn btn-primary">Generate</button>
    </form>


{% block accaunt %}
    {% for password in passwords %}
        <div class="card w-50">
            <div class="card-body">
                <p class="card-text">{{ password.user }}</p>
                <p class="card-text">{{ password.password }}</p>
                <p class="card-text">{{ password.url }}</p>
                <a href="{{ password.url }}" class="btn btn-primary"  target="_blank">Go url</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}


</body>
</html>